<app-nav></app-nav>

<section class="main-container contact-us-home-container">
    <div class="home-page-top contact-us-home d-flex justify-content-center">
        <div class="d-flex contact-us-header flex-column justify-content-center">
            <h1>Contact Us</h1>
        </div>
    </div>
</section>

<section class="contact-us">
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="header-title-bar d-flex justify-content-center align-items-center">
                    <div class="content-header d-flex justify-content-between align-items-center">
                        <div>
                            <img src="../../assets/img/logo-left.png" />
                        </div>
                        <div>
                            <h2>Any Question?</h2>
                        </div>
                        <div>
                            <img src="../../assets/img/logo-right.png" alt="">
                        </div>
                    </div>
                    <p class="title-sub-header">
                        <span>Remember you can book online. </span>
                        <span>Just <a href="#">Click Here</a></span>
                    </p>
                </div>
                <p class="contact-us-sub-header">Share your recent expierience with us or reach us for any questions. We are here for you! </p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="contact-us-item-holder">
                    <div class="box">
                        <i class="fas fa-phone"></i>
                    </div>
                    <p>+44 1992 630099</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-us-item-holder">
                    <div class="box">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <p>Crossbrook St, Cheshunt, <br>
                        Waltham Cross EN8 8JQ, UK</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-us-item-holder">
                    <div class="box">
                        <i class="far fa-envelope"></i>
                    </div>
                    <p>elcurioso36@outlook.com</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <form action="">
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <input type="text" class="form-control custom-form-control" placeholder="Name">
                        </div>
                        <div class="col-md-4">
                            <input type="email" class="form-control custom-form-control" placeholder="E-mail">
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control custom-form-control" placeholder="Subject">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <textarea class="form-control" rows="5" placeholder="Message">  </textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-lg btn-warning custom-button">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
