<app-nav></app-nav>

<section class="main-container food-menu">
    <div class="home-page-top menu-home d-flex justify-content-center">
        <div class="food-menu-content d-flex flex-column justify-content-center text-center">
            <h1>Menu</h1>
            <div class="d-flex justify-content-between">
                <button class="btn btn-warning custom-button">Main Menu</button>
                <button class="btn btn-outline-warning custom-button">Drink</button>
            </div>
        </div>
    </div>
</section>

<section class="product-items">
    <div class="image-header">
        <div class="row no-gutters">
            <div class="col-md-5">
                <img src="../../assets/img/tiles.png" />
            </div>
            <div class="col-md-2 middle-text">
                <h2>Starter</h2>
            </div>
            <div class="col-md-5">
                <img src="../../assets/img/tiles.png" />
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-4">
                <ul class="leaders">
                    <li>
                        <span><strong>GARLIC BREAD</strong> </span>
                        <span>£2.90</span>
                    </li>
                    <li>
                        <span><strong> BREAD WITH CHEESE.</strong></span>
                        <span>£3.90</span>
                    </li>
                    <li>
                        <span><strong>PRAWN & CHORIZO SKEWER</strong></span>
                        <span>£7.95</span>
                    </li>
                    <li>
                        <span><strong>CHICKEN PERI-PERI SKEWER.</strong></span>
                        <span>£7.95</span>
                        <p>Chicken pieces marinated in our Piri Piri mix</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="leaders">
                    <li>
                        <span><strong>GRILLED STEAK SKEWER</strong></span>
                        <span>£7.95</span>
                        <p>Pieces of prime cut steak skewer with mushroom skewer</p>
                    </li>
                    <li>
                        <span><strong>POTATO SKINS</strong></span>
                        <span>£5.50</span>
                        <p>Oven baked with bacon & cheese</p>
                    </li>
                    <li>
                        <span><strong>HALLOUMI & VEGETABLES.</strong></span>
                        <span>£6.50</span>
                        <p>Fried halloumi with roasted vegetables</p>
                    </li>
                    <li>
                        <span><strong>STUFFED MUSHROOM</strong></span>
                        <span>£5.95</span>
                        <p>With cheese and garlic butter</p>
                    </li>
                    <li>
                        <span><strong>HALLOUMI A LA DIABLA.</strong></span>
                        <span>£5.95</span>
                        <p>Fried halloumi served with sweet chilli sauce</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="leaders">
                    <li>
                        <span><strong>STUFFED MUSHROOM</strong></span>
                        <span>£5.95</span>
                        <p>With cheese and garlic butter</p>
                    </li>
                    <li>
                        <span><strong>HALLOUMI A LA DIABLA.</strong></span>
                        <span>£5.95</span>
                        <p>Fried halloumi served with sweet chilli sauce</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="product-items-1">
    <div class="image-header">
        <div class="row no-gutters">
            <div class="col-md-5">
                <img src="../../assets/img/tiles.png" />
            </div>
            <div class="col-md-2 middle-text">
                <h2>SALADS</h2>
            </div>
            <div class="col-md-5">
                <img src="../../assets/img/tiles.png" />
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-4">
                <ul class="leaders">
                    <li>
                        <span><strong>HALLOUMI SALAD</strong></span>
                        <span>£6.95</span>
                        <p>Halloumi, lettuce, tomatoes, cucumber, onion and green olives, served with our house dressing</p>
                    </li>
                    <li>
                        <span><strong>GREEK STYLE SALAD.</strong></span>
                        <span>£6.95</span>
                        <p>Tomatoes, cucumbers, olives, red onion, parsley and feta cheese. Served with our house dressing </p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="leaders">
                    <li>
                        <span><strong>CHICKEN SALAD</strong></span>
                        <span>£6.95</span>
                        <p>Lettuce, olives, chicken and croutons, served with our house dressing</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="leaders">
                    <li>
                        <span><strong>SALAD-E-SHIRAZI HOUSE SALAD</strong></span>
                        <span>£5.95</span>
                        <p>Finely chopped tomatoes, cucumbers and onion, and lime juice, served with our house dressing</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="product-items-1">
    <div class="image-header">
        <div class="row no-gutters">
            <div class="col-md-5">
                <img src="../../assets/img/tiles.png" />
            </div>
            <div class="col-md-2 middle-text">
                <h2>TAPAS</h2>
            </div>
            <div class="col-md-5">
                <img src="../../assets/img/tiles.png" />
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-4">
                <div  class="vegetarian" >
                    <h3>VEGETARIAN</h3>
                </div>
                <ul class="leaders">
                    <li>
                        <span><strong>BERENJENAS</strong></span>
                        <span>£5.95</span>
                        <p>Baked aubergine with chopped tomatoes and cheese</p>
                    </li>
                    <li>
                        <span><strong>PATATAS BRAVAS.</strong></span>
                        <span>£6.50</span>
                        <p>Deep fried potatoes served with salsa sauce </p>
                    </li>
                    <li>
                        <span><strong>PATATAS AIOLI.</strong></span>
                        <span>£6.50</span>
                        <p>Deep fried potatoes served with aioli sauce </p>
                    </li>
                    <li>
                        <span><strong>FABADA CON VEGETALES.</strong></span>
                        <span>£6.50</span>
                        <p>Butter beans, spinach, onion & green pepper casserole </p>
                    </li>
                    <li>
                        <span><strong>TORTILLA ESPANOLA.</strong></span>
                        <span>£6.50</span>
                        <p>Spanish omelette </p>
                    </li>
                    <li>
                        <span><strong>CHAMPINONES AJILLO.</strong></span>
                        <span>£6.50</span>
                        <p>Sautéed mushrooms in garlic, olive oil and parsley </p>
                    </li>
                    <li>
                        <span><strong>ESPINACAS CON GARBANZOS.</strong></span>
                        <span>£6.50</span>
                        <p>Spinach with Chickpeas & Garlic </p>
                    </li>
                    <li>
                        <span><strong>GRILLED VEG BRUSCHETTA.</strong></span>
                        <span>£6.50</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <div  class="meat" >
                    <h3>MEAT</h3>
                </div>
                <ul class="leaders">
                    <li>
                        <span><strong>GRILLED VEG BRUSCHETTA</strong></span>
                        <span>£6.95</span>
                        <p>Meatballs in a delicious tomato sauce</p>
                    </li>
                    <li>
                        <span><strong>HIGADILLAS</strong></span>
                        <span>£6.95</span>
                        <p>Chick en liver cooked in a cream and sherry sauce</p>
                    </li>
                    <li>
                        <span><strong>ROPA VIEJA</strong></span>
                        <span>£6.95</span>
                        <p>Slow-cooked shredded beef with herbs, bell peppers and potatoes</p>
                    </li>
                    <li>
                        <span><strong>FABADA CON CHORIZO</strong></span>
                        <span>£6.95</span>
                        <p>Butter beans, spinach, green pepper, onion and chorizo casserole</p>
                    </li>
                    <li>
                        <span><strong>POLLO MARBELLA</strong></span>
                        <span>£6.95</span>
                        <p>Chicken breast, chorizo, green peppers and onion in a creamy wine sauce</p>
                    </li>
                    <li>
                        <span><strong>ALITAS DE POLLO</strong></span>
                        <span>£6.95</span>
                        <p>Our succulent and juicy wings parsley</p>
                    </li>
                    <li>
                        <span><strong>CHORIZO Y FRIJOLES DE BLANCO</strong></span>
                        <span>£6.95</span>
                        <p>Chorizo with butterbeans and sour cream</p>
                    </li>
                    <li>
                        <span><strong>CHORIZO</strong></span>
                        <span>£6.95</span>
                        <p>Spanish sausage cooked in white wine</p>
                    </li>
                    <li>
                        <span><strong>COSTILLAS A LA BARBACOA</strong></span>
                        <span>£6.95</span>
                        <p>Pork ribs with home-made BBQ sauce</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="seafood">
                    <h3>SEAFOOD</h3>
                </div>
                <ul class="leaders">
                    <li>
                        <span><strong>CHORIZO CON CALAMARE</strong></span>
                        <span>£7.50</span>
                        <p>Fried chorizo and calamari</p>
                    </li>
                    <li>
                        <span><strong>CALAMARES CON TOMATE</strong></span>
                        <span>£6.95</span>
                        <p>Squid rings served with white wine, shallots and chilli in a tomato sauce</p>
                    </li>
                    <li>
                        <span><strong>GAMBAS AL AJILLO</strong></span>
                        <span>£7.50</span>
                        <p>Pan fried king prawns in garlic, olive oil and chilli</p>
                    </li>
                    <li>
                        <span><strong>A LA PLANCHA</strong></span>
                        <span>£7.50</span>
                        <p>House marinade grilled tiger prawns</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="product-items-1">
    <div class="image-header">
        <div class="row no-gutters">
            <div class="col-md-5">
                <img src="../../assets/img/tiles.png" />
            </div>
            <div class="col-md-2 middle-text">
                <h2>GRILLS</h2>
            </div>
            <div class="col-md-5">
                <img src="../../assets/img/tiles.png" />
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-4">
                <ul class="leaders">
                    <li>
                        <span><strong>RIB EYE STEAK</strong></span>
                        <span>£25.95</span>
                        <p>Juicy and succulent full flavoured marbled cut</p>
                    </li>
                    <li>
                        <span><strong>SIRLOIN STEAK.</strong></span>
                        <span>£25.95</span>
                        <p>Juicy and succulent full flavoured marbled cut </p>
                    </li>
                    <li>
                        <span><strong>FILETE DE CORDERO</strong></span>
                        <span>£16.95</span>
                        <p>Lamb fillet served with rice</p>
                    </li>
                    <li>
                        <span><strong>CHULETAS DE CORDERO</strong></span>
                        <span>£18.95</span>
                        <p>Lamb chops served with rice</p>
                    </li>
                </ul>
                
            </div>
            <div class="col-md-4">
                <ul  class="leaders">
                    <li>
                        <span><strong>PINCHOS DE CORDERO</strong></span>
                        <span>£17.95</span>
                        <p>Tender pieces of lamb served with rice</p>
                    </li>
                    <li>
                        <span><strong>PINCHOS DE POLLO.</strong></span>
                        <span>£16.95</span>
                        <p>Marinated pieces of chicken served with mixed rice </p>
                    </li>
                    <li>
                        <span><strong>PINCHO MITO</strong></span>
                        <span>£19.95</span>
                        <p>Mixed chicken, lamb and chorizo skewers served with mixed rice</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul  class="leaders">
                    <li>
                        <span><strong>CHICKEN BREAST</strong></span>
                        <span>£12.95</span>
                        <p>Tender grilled chicken breast cut cooked with 
                                olive oil, salt & lemon. Choose one side dish and 
                                marinade Add fresh chilli to spice it up!</p>
                    </li>
                    <li>
                        <span><strong>CHICKEN TOWER.</strong></span>
                        <span>£14.95</span>
                        <p>Tender breast cut cooked with olive oil, salt & 
                                lemon, layered with:
                                Cheese/chorizo or cheese/pineapple or 
                                cheese/bacon </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="grils-special">
            <ul  class="leaders">
                <li>
                    <span><strong>SIDE DISHES</strong></span>
                    <span>£2.50</span>
                </li>
            </ul>
            <p>Sauteed spinach, Grilled mushrooms, Chips, Grilled tomato, Mashed potatoes, Plain Rice, Seasonal vegetables or Tomato salad</p>
        </div>
    </div>
</section>

<section class="product-items-1">
    <div class="image-header">
        <div class="row no-gutters">
            <div class="col-md-5">
                <img src="../../assets/img/tiles.png" />
            </div>
            <div class="col-md-2 middle-text">
                <h2>BURGERS</h2>
            </div>
            <div class="col-md-5">
                <img src="../../assets/img/tiles.png" />
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-4">
                <ul  class="leaders">
                    <li>
                        <span><strong>ELCURIOSO BURGER</strong></span>
                        <span>£15.95</span>
                         <p>Our beef cuts, minced with melted aged cheddar 
                                cheese, served with red wine sauce, red onion, 
                                lettuce & tomato</p>
                    </li>
                    <li>
                        <span><strong>STEAK BURGER.</strong></span>
                        <span>£15.95</span>
                        <p>Steak pieces with melted cheese, served with lettuce, tomato and aioli sauce</p>
                    </li>
                    <li>
                        <span><strong>CHICKEN BURGER</strong></span>
                        <span>£9.95</span>
                        <p>Grilled chicken breast served with lettuce, tomato 
                                and our house sauce</p>
                    </li>
                </ul>
               
            </div>
            <div class="col-md-4">
                <ul  class="leaders">
                    <li>
                        <span><strong>MEXICAN RED BURGER</strong></span>
                        <span>£14.95</span>
                        <p>Our beef cuts, mince, tortilla chips, jalapeno 
                                served with chipotle sauce</p>
                    </li>
                    <li>
                        <span><strong>CHORIZO BURGER.</strong></span>
                        <span>£16.95</span>
                        <p>Steak pieces with melted cheese, served with lettuce, tomato and aioli sauce </p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="burger-speical">
                    <h3>Add any of these to your burger to make it your own</h3>
                    <div class="burger-special-inner">
                        <div class="d-flex justify-content-between">
                            <span><strong>Smoked bacon</strong></span>
                            <span>60p</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span><strong>Cheddar cheese</strong></span>
                            <span>50p</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="product-items-1">
    <div class="image-header">
        <div class="row no-gutters">
            <div class="col-md-5">
                <img src="../../assets/img/tiles.png" />
            </div>
            <div class="col-md-2 middle-text">
                <h2>PASTA</h2>
            </div>
            <div class="col-md-5">
                <img src="../../assets/img/tiles.png" />
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-4">
                <ul  class="leaders">
                    <li>
                        <span><strong>SCOGLIO</strong></span>
                        <span>£9.95</span>
                        <p>Tagliatelle with white fish, King prawns and calamari</p>
                    </li>
                    <li>
                        <span><strong>CHORIZO.</strong></span>
                        <span>£9.95</span>
                        <p>Tagliatelle with rocket & chorizo </p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul  class="leaders">
                    <li>
                        <span><strong>TOCINO</strong></span>
                        <span>£9.95</span>
                        <p>Tagliatelle with mushroom & bacon</p>
                    </li>
                    <li>
                        <span><strong>VEGETARIANO.</strong></span>
                        <span>£9.95</span>
                        <p>Tagliatelle with courgette and aubergine </p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul  class="leaders">
                    <li>
                        <span><strong>ALBONDIGAS</strong></span>
                        <span>£9.95</span>
                        <p>Tagliatelle with meatballs & tomato</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="product-items-1">
    <div class="image-header">
        <div class="row no-gutters">
            <div class="col-md-5">
                <img src="../../assets/img/tiles.png" />
            </div>
            <div class="col-md-2 middle-text">
                <h2 class="house-special">HOUSE SPECIAL</h2>
            </div>
            <div class="col-md-5">
                <img src="../../assets/img/tiles.png" />
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-4">
                <ul  class="leaders">
                    <li>
                        <span><strong>Paella Valenciana</strong></span>
                        <span>FOR 1 £16.95 FOR 2 £25.95</span>
                        <p>Chicken, Chorizo, Red peppers, Onions,peas and prawn</p>
                    </li>
                    <li>
                        <span><strong>Paella Vegeteriano.</strong></span>
                        <span>FOR 1 £16.95 FOR 2 £25.95</span>
                        <p>Red peppers, Onions, courgettes, Aubergines and peas </p>
                    </li>
                    <li>
                        <span><strong>Paella Marisco.</strong></span>
                        <span>FOR 1 £18.95 FOR 2 £27.95</span>
                        <p>White fish, Calamari, Prawns, Red Peppers, Onions and Peas </p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="leaders">
                    <li>
                        <span><strong>ARROZ LATINO</strong></span>
                        <span>£12.50</span>
                        <p>Shredded beef cooked with onions, bell peppers 
                                & fresh chillies served with rice</p>
                    </li>
                    <li>
                        <span><strong>POLLO CON PINA A LA CUBANA.</strong></span>
                        <span>£14.95</span>
                        <p>Chicken with pineapple cooked in a spicy creamy 
                                sauce Cuban style. Served with rice </p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="leaders">
                    <li>
                        <span><strong>PESCADO</strong></span>
                        <span>£12.95</span>
                        <p>White Fish pan fried. Served on a bed of chorizo, 
                                Onion, Chillies & Butterbeans with a creamy 
                                sauce served asparagus</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
