
<router-outlet></router-outlet>
<section class="footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center footer-headline">
                    <h1>NEVER MISS A DEAL!</h1>
                    <p>Subscribe to our newsletter to never miss a deal or event</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <input type="text" class="form-control custom-form-control" name="name" placeholder="name">
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control custom-form-control" name="name" placeholder="E-mail">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-warning custom-button">Subscribe</button>
                </div>
            </div>
            <div class="d-flex flex-sm-row flex-column justify-content-between align-items-center address-bar">
                <div>
                    <p>+44 1992 630099</p>
                </div>
                <div>
                    <p>Crossbrook St, Cheshunt, <br>
                        Waltham Cross EN8 8JQ, UK
                    </p>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <h4>Find Us:</h4>
                    <div class="ml-2 find-us">
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-instagram-square"></i>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>

