<app-nav></app-nav>
<section class="main-container deal-event-home-container">
    <div class="home-page-top deal-event-home d-flex justify-content-center">
        <div class="d-flex contact-us-header flex-column justify-content-center">
            <h1>DEALS & EVENTS</h1>
        </div>
    </div>
</section>

<section class="deal-events">
    <div class="container mb-4">
        <div class="row no-gutters mb-3">
            <div class="col-md-4">
                <div class="card custom-card">
                    <img class="card-img-top" src="../../assets/img/lemon-juice.jpg" alt="Card image cap">
                    <div class="hot-item-tag">
                        <p>cuban <br> night</p>
                    </div>
                    <div class="card-body">
                      <p class="card-text">
                        Every Thursday is Cuban cocktail. Any 2 
                        cuban cocktails from selected menu 
                        £25.00
                          </p>
                      <button class="btn btn-warning custom-button">Book Now</button>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card custom-card">
                    <img class="card-img-top" src="../../assets/img/lemon-juice.jpg" alt="Card image cap">
                    <div class="hot-item-tag">
                        <p>tapas <br> night</p>
                    </div>
                    <div class="card-body">
                      <p class="card-text">
                        Any 3 tapas on Mondays £15.00
                        (Price applies per person)
                        </p>
                        <button  class="btn btn-warning custom-button">Book Now</button>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card custom-card">
                    <img class="card-img-top" src="../../assets/img/lemon-juice.jpg" alt="Card image cap">
                    <div class="hot-item-tag">
                        <p>sangria <br> night</p>
                    </div>
                    <div class="card-body">
                      <p class="card-text">
                        Any paella for 2 & Jug of Sangria £25.00 
                        every Tuesday
                        </p>
                        <button  class="btn btn-warning custom-button">Book Now</button>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-4">
                <div class="card custom-card">
                    <img class="card-img-top" src="../../assets/img/lemon-juice.jpg" alt="Card image cap">
                    <div class="hot-item-tag">
                        <p>cuban <br> night</p>
                    </div>
                    <div class="card-body">
                      <p class="card-text">
                        Every Thursday is Cuban cocktail. Any 2 
                        cuban cocktails from selected menu 
                        £25.00
                          </p>
                      <button class="btn btn-warning custom-button">Book Now</button>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card custom-card">
                    <img class="card-img-top" src="../../assets/img/lemon-juice.jpg" alt="Card image cap">
                    <div class="hot-item-tag">
                        <p>tapas <br> night</p>
                    </div>
                    <div class="card-body">
                      <p class="card-text">
                        Any 3 tapas on Mondays £15.00
                        (Price applies per person)
                        </p>
                        <button  class="btn btn-warning custom-button">Book Now</button>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card custom-card">
                    <img class="card-img-top" src="../../assets/img/lemon-juice.jpg" alt="Card image cap">
                    <div class="hot-item-tag">
                        <p>sangria <br> night</p>
                    </div>
                    <div class="card-body">
                      <p class="card-text">
                        Any paella for 2 & Jug of Sangria £25.00 
                        every Tuesday
                        </p>
                        <button  class="btn btn-warning custom-button">Book Now</button>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
