<section class="main-container">
    <div class="home-page-top">
        <div class="index-highlight">
            <div class="top-text  d-flex justify-content-center">
                <div style="height: 60%; width: 60%;">
                    <a href="">
                        <img src="../../assets/img/logo-main.png" />
                    </a>
                </div>
            </div>
            <div class="navigation">
                <div class="d-flex flex-wrap justify-content-between">
                    <a href="/menu" class="menu-item"> Menu </a>
                    <a href="/deal-events" class="menu-item"> Deals & Events </a>
                    <a href="/contact-us" class="menu-item"> Contact Us </a>
                    <a href="/booking" class="menu-item btn btn-warning book-now-menu"> Book Now </a>
                </div>
            </div>
            <div class="bottom-text">
                <h3>SPANISH AND <br>
                    CUBAN CUISINE</h3>
                <button class="btn btn-warning custom-button">Book Now</button>
            </div>
        </div>
    </div>
</section>

<section class="featued-menu">
    <div class="home-page-bottom">
        <div class="row no-gutters feature-row">
            <div class="col-md-4">
                <div class="index-bottom-left">
                    <h3>GREAT VARIETY <br>
                        OF DISHES</h3>
                        <button class="btn btn-warning custom-button">View Menu</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="index-bottom-middle">
                    <h3>GREAT VARIETY <br>
                        OF DISHES</h3>
                        <button class="btn btn-warning custom-button">Book Now</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="index-bottom-right">
                    <h3>GREAT VARIETY <br>
                        OF DISHES</h3>
                        <button class="btn btn-warning custom-button">View Deals</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="deal-events">
    <div class="header-title-bar d-flex justify-content-center align-items-center">
        <div class="content-header d-flex justify-content-between align-items-center">
            <div>
                <img src="../../assets/img/logo-left.png" />
            </div>
            <div>
                <h2>Deals & Events</h2>
            </div>
            <div>
                <img src="../../assets/img/logo-right.png" alt="">
            </div>
        </div>
    </div>

    <div class="container mb-4">
        <div class="row no-gutters">
            <div class="col-md-4">
                <div class="card custom-card">
                    <img class="card-img-top" src="../../assets/img/lemon-juice.jpg" alt="Card image cap">
                    <div class="hot-item-tag">
                        <p>cuban <br> night</p>
                    </div>
                    <div class="card-body">
                      <p class="card-text">
                        Every Thursday is Cuban cocktail. Any 2 
                        cuban cocktails from selected menu 
                        £25.00
                          </p>
                      <button class="btn btn-warning custom-button">Book Now</button>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card custom-card">
                    <img class="card-img-top" src="../../assets/img/lemon-juice.jpg" alt="Card image cap">
                    <div class="hot-item-tag">
                        <p>tapas <br> night</p>
                    </div>
                    <div class="card-body">
                      <p class="card-text">
                        Any 3 tapas on Mondays £15.00
                        (Price applies per person)
                        </p>
                        <button  class="btn btn-warning custom-button">Book Now</button>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card custom-card">
                    <img class="card-img-top" src="../../assets/img/lemon-juice.jpg" alt="Card image cap">
                    <div class="hot-item-tag">
                        <p>sangria <br> night</p>
                    </div>
                    <div class="card-body">
                      <p class="card-text">
                        Any paella for 2 & Jug of Sangria £25.00 
                        every Tuesday
                        </p>
                        <button  class="btn btn-warning custom-button">Book Now</button>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row mt-3 view-all-deals">
            <div class="col-md-12 text-center">
                <button class="btn btn-lg btn-outline-warning custom-button">View All Deals & Events</button>
            </div>
        </div>
    </div>
</section>

<section class="great-deals">
    <div class="great-deals-inner">
        <div class="d-flex  flex-column justify-content-center align-items-center item-holder">
            <h1>ENJOY OUR GREAT <br>
                VARIETY OF DISHES</h1>
                <p>
                    We offer paella, selection of tapas dishes, steaks,lamb, grills and pasta dishes
                </p>
                <div class="d-flex justify-content-between align-items-center button-container">
                    <button class="btn btn-outline-warning custom-button custom-button-outline">View Menu</button>
                    <button class="btn btn-warning custom-button">Book Now</button>
                </div>
        </div>
    </div>
</section>
