<app-nav></app-nav>

<section class="booking-table">
    <div class="home-page-top home-three d-flex justify-content-center">
        <div class="d-flex flex-column justify-content-center table-booking-content">
            <div class="content-header d-flex justify-content-between align-items-center">
                <div>
                    <img src="../../assets/img/logo-left.png" />
                </div>
                <div>
                    <h2>Book a table</h2>
                </div>
                <div>
                    <img src="../../assets/img/logo-right.png" alt="">
                </div>
            </div>

            <form action="" class="booking-form">
                <div class="form-group">
                    <input type="text" class="form-control custom-form-control" placeholder="Number of adults">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control custom-form-control" placeholder="Number of childer(Under age of 12)">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control custom-form-control" placeholder="Date">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control custom-form-control" placeholder="Time">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="10"> Special Request </textarea>
                </div>
                <button class="btn btn-lg btn-warning custom-button"> Book Now</button>
            </form>
        </div>
    </div>
</section>
